<template>
  <q-page class="flex flex-center">
    <h3 v-text="title"></h3>
  </q-page>
</template>

<script>
export default {
  name: 'yusuke',
  data(){
  	return {
  		title:'Jhonny Prz'
  	}
  }
}
</script>
